trunk/Assignment4/bpel/bpelContent/LibrarySearch/SoftLib.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:soft.vub.ac.be/"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:soft.vub.ac.be/"
	xmlns:intf="urn:soft.vub.ac.be/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--
		WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006
		(06:55:48 PDT)
	-->
	<wsdl:types>
		<schema targetNamespace="urn:soft.vub.ac.be/" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="getAllBooks">
				<complexType>
					<sequence>
						<element name="all" type="xsd:anyType" />
					</sequence>
				</complexType>
			</element>
			<element name="getAllBooksResponse">
				<complexType>
					<sequence>
						<element maxOccurs="unbounded" name="book" type="impl:Book" />
					</sequence>
				</complexType>
			</element>
			<complexType name="Book">
				<sequence>
					<element maxOccurs="1" minOccurs="0" name="author"
						nillable="true" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0" name="year" nillable="true"
						type="xsd:int" />
					<element maxOccurs="1" minOccurs="0" name="isbn" nillable="true"
						type="xsd:int" />
					<element maxOccurs="1" minOccurs="0" name="language"
						nillable="true" type="xsd:language" />
					<element maxOccurs="1" minOccurs="0" name="publisher"
						nillable="true" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0" name="title" nillable="true"
						type="xsd:string" />
				</sequence>
			</complexType>
			<element name="searchBooks">
				<complexType>
					<sequence>
						<element name="query" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="searchBooksResponse">
				<complexType>
					<sequence>
						<element maxOccurs="unbounded" name="book" type="impl:Book" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>

	<wsdl:message name="getAllBooksRequest">
		<wsdl:part element="impl:getAllBooks" name="parameters"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="searchBooksRequest">
		<wsdl:part element="impl:searchBooks" name="parameters"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="searchBooksResponse">
		<wsdl:part element="impl:searchBooksResponse" name="parameters"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="getAllBooksResponse">
		<wsdl:part element="impl:getAllBooksResponse" name="parameters"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="SoftLibraryPortType">
		<wsdl:operation name="getAllBooks">
			<wsdl:input message="impl:getAllBooksRequest" name="getAllBooksRequest"></wsdl:input>
			<wsdl:output message="impl:getAllBooksResponse" name="getAllBooksResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="searchBooks">
			<wsdl:input message="impl:searchBooksRequest" name="searchBooksRequest"></wsdl:input>
			<wsdl:output message="impl:searchBooksResponse" name="searchBooksResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="soapSoapBinding" type="impl:SoftLibraryPortType">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="getAllBooks">
			<wsdlsoap:operation soapAction="urn:soft.vub.ac.be/getAllBooks" />
			<wsdl:input name="getAllBooksRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>

			<wsdl:output name="getAllBooksResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="searchBooks">
			<wsdlsoap:operation soapAction="urn:soft.vub.ac.be/searchBooks" />
			<wsdl:input name="searchBooksRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>

			<wsdl:output name="searchBooksResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SoftLibraryService">
		<wsdl:port binding="impl:soapSoapBinding" name="soap">
			<wsdlsoap:address location="http://localhost:8180/SoftLabLibrary/services/soap" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
